[submodule "deps/mbedtls"]
    path = deps/mbedtls
    url = https://github.com/particle-iot/mbedtls

[submodule "deps/minihttp"]
    path = deps/minihttp
    url = https://github.com/fgenesis/minihttp

[submodule "deps/efsw"]
    path = deps/efsw
    url = https://github.com/XadillaX/efsw

[submodule "34. efsw/src/deps/efsw"]
    path = 34. efsw/src/deps/efsw
    url = https://github.com/XadillaX/efsw

[submodule "35. efsw advanced"]
    path = 35. efsw advanced
    url = https://github.com/XadillaX/node-efsw
